*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.board-section{
    width:800px;
    height:900px;
    background-color: brown;
    margin:1rem auto;
    border-radius: 10px;
    position: relative;
}
.center{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:150px;
    height: 150px;
    fill: beige;
    border: 1px solid yellow;
    border-radius:50%;
}
.hole{
    background: grey;
    width:40px;
    height:30px;
    border-radius: 50%;
}
.left-hole{
    position: absolute;
    left:1%;
    top:1%;
}
.right-hole{
    position: absolute;
    left:93.5%;
    top:1%;
}
.left-bottom-hole{
    position: absolute;
    left:1%;
    top:93%;
}
.right-bottom-hole{
    position: absolute;
    left:93.5%;
    top:93%;
}



